<img src="assets/images/sponsor.webp" alt="sponsor Evergreen" class="sponsor">

<div class="card-container">
    <a href="https://www.fiorimpresa.it/" target="_blank" class="card">
        <mat-card-header>
            <mat-card-title-group>
                <img src="assets/images/sponsor/fior.webp" alt="Impresa Edile Fior">
            </mat-card-title-group>
        </mat-card-header>
    </a>

    <a href="https://telonicecchin.com/" target="_blank" class="card">
        <mat-card-header>
            <mat-card-title-group>
                <img src="assets/images/sponsor/teloni_cecchin.webp" alt="Teloni Cecchin">
            </mat-card-title-group>
        </mat-card-header>
    </a>

    <a href="https://maps.app.goo.gl/t8JEReXNtxCkNPcb7" target="_blank" class="card">
        <mat-card-header>
            <mat-card-title-group>
                <img src="assets/images/sponsor/lavanderia.webp" alt="Lavanderia">
            </mat-card-title-group>
        </mat-card-header>
    </a>

    <a href="https://maps.app.goo.gl/tAVVqnDqeFm75GbVA" target="_blank" class="card">
        <mat-card-header>
            <mat-card-title-group>
                <img src="assets/images/sponsor/dejavu.webp" alt="Estetica Dejavu di Rossi Angela">
            </mat-card-title-group>
        </mat-card-header>
    </a>

    <a href="https://www.dolciariastocco.it/shop" target="_blank" class="card">
        <mat-card-header>
            <mat-card-title-group>
                <img src="assets/images/sponsor/dolciaria_stocco.webp" alt="dolciaria stocco">
            </mat-card-title-group>
        </mat-card-header>
    </a>

    <a href="https://www.facebook.com/gelateriaapice/?locale=it_IT" target="_blank" class="card">
        <mat-card-header>
            <mat-card-title-group>
                <img src="assets/images/sponsor/gelateria_apice.jpg" alt="gelateria apice tombolo">
            </mat-card-title-group>
        </mat-card-header>
    </a>

    <a href="https://www.instagram.com/salottoottico?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="card">
        <mat-card-header>
            <mat-card-title-group>
                <img src="assets/images/sponsor/salottoottico.jpg" alt="salotto ottico schio">
            </mat-card-title-group>
        </mat-card-header>
    </a>
</div>
