<img src="assets/images/sponsor.webp" alt="sponsor Evergreen" class="sponsor">

<!-- Messaggio di ringraziamento -->
<div class="sponsor-message">
  <p>
    Grazie di cuore ai nostri sponsor per il loro prezioso supporto 💜<br>
    <span class="highlight">Insieme, abbiamo trasformato un sogno in realtà!</span>
  </p>
</div>

<!-- Marquee scorrevole -->
<div class="sponsor-marquee">
  <div class="marquee-track">
    <a href="https://www.fiorimpresa.it/" target="_blank"><img src="assets/images/sponsor/fior.webp" alt="Impresa Edile Fior"></a>
    <a href="https://telonicecchin.com/" target="_blank"><img src="assets/images/sponsor/teloni_cecchin.webp" alt="Teloni Cecchin"></a>
    <a href="https://maps.app.goo.gl/t8JEReXNtxCkNPcb7" target="_blank"><img src="assets/images/sponsor/lavanderia.webp" alt="Lavanderia"></a>
    <a href="https://maps.app.goo.gl/tAVVqnDqeFm75GbVA" target="_blank"><img src="assets/images/sponsor/dejavu.webp" alt="Estetica Dejavu"></a>
    <a href="https://www.dolciariastocco.it/shop" target="_blank"><img src="assets/images/sponsor/dolciaria_stocco.webp" alt="Dolciaria Stocco"></a>
    <a href="https://www.facebook.com/gelateriaapice" target="_blank"><img src="assets/images/sponsor/gelateria_apice.jpg" alt="Gelateria Apice"></a>
    <a href="https://www.instagram.com/salottoottico" target="_blank"><img src="assets/images/sponsor/salottoottico.jpg" alt="Salotto Ottico"></a>

    <!-- Duplicati per scorrimento continuo -->
    <a href="https://www.fiorimpresa.it/" target="_blank"><img src="assets/images/sponsor/fior.webp" alt="Impresa Edile Fior"></a>
    <a href="https://telonicecchin.com/" target="_blank"><img src="assets/images/sponsor/teloni_cecchin.webp" alt="Teloni Cecchin"></a>
    <a href="https://maps.app.goo.gl/t8JEReXNtxCkNPcb7" target="_blank"><img src="assets/images/sponsor/lavanderia.webp" alt="Lavanderia"></a>
    <a href="https://maps.app.goo.gl/tAVVqnDqeFm75GbVA" target="_blank"><img src="assets/images/sponsor/dejavu.webp" alt="Estetica Dejavu"></a>
    <a href="https://www.dolciariastocco.it/shop" target="_blank"><img src="assets/images/sponsor/dolciaria_stocco.webp" alt="Dolciaria Stocco"></a>
    <a href="https://www.facebook.com/gelateriaapice" target="_blank"><img src="assets/images/sponsor/gelateria_apice.jpg" alt="Gelateria Apice"></a>
    <a href="https://www.instagram.com/salottoottico" target="_blank"><img src="assets/images/sponsor/salottoottico.jpg" alt="Salotto Ottico"></a>
  </div>
</div>

<!-- CTA finale -->
<div class="sponsor-cta">
  <p>✨ Vuoi essere dei nostri?</p>
  <a href="https://mail.google.com/mail/?view=cm&to=info@evergreencup.it&su=Diventa+anche+tu+sponsor+di+EvergreenCup" target="_blank" class="cta-button">
    Diventa anche tu sponsor di EvergreenCup!
  </a>
  
</div>
