<div class="cookie">

<h1>Informativa relativa alle tipologie e utilizzo dei cookie sul nostro sito</h1>
In questa pagina puoi trovare le informazioni necessarie sull'uso dei cookie effettuato sul sito internet www.evergreencup.it e le modalità per identificarli e disabilitarli o cancellarli.

Questa Policy può essere aggiornata in qualsiasi momento per modifica della normativa vigente o per qualsiasi cambiamento nella configurazione e tipologia dei cookie utilizzati.

<h5>Cosa sono i cookie</h5>
I cookie sono brevi stringhe che vengono salvate, durante la navigazione sul sito Web, sul computer, smartphone o tablet dell'utente e che consentono al nostro sito di riconoscere l'utente successivamente alla prima visita e quindi migliorare la sua esperienza di utilizzo.

Il nostro sistema utilizza cookie temporanei che hanno una durata limitata alla visita e vengono eliminati alla chiusura del browser, e cookie permanenti, che rimangono memorizzati sul dispositivo anche dopo aver abbandonato il sito Web o comunque aver chiuso il browser: questi cookie permangono fino alla loro scadenza prevista o finché non siano eliminati manualmente dall'utente.

<h5>Accettare o rifiutare i cookie è un tuo diritto</h5>
www.evergreen.it utilizza i seguenti tipi di cookie:
<ul>
    <li>Cookie di sessione (o tecnici): temporanei che consentono all'utente di accedere a servizi personalizzati ed a sfruttare appieno le funzionalità del sito.</li>
    <li>Cookie di analisi: sia temporanei che permanenti, permettono di raccogliere in modo aggregato informazioni relative al comportamento degli utenti sul sito e quindi migliorarne l'esperienza ed i contenuti forniti. Le informazioni raccolte in questo modo non hanno valenza personale in quanto i dati sono raccolti e analizzati in forma anonima. Utilizziamo specificatamente i cookie di Google Analytics* secondo le modalità riportate in questa pagina.</li>
    <li>Cookie sociali: sono forniti direttamente dai domini dei social media che ospitiamo tramite link a pagine ufficiali, pulsanti di condivisione e collegamenti. L'uso di tali pulsanti e funzionalità implica lo scambio di informazioni con tali siti, pertanto la gestione delle informazioni e le modalità per eliminarle è regolamentata dagli stessi: si invita l'utente a consultare le rispettive informative sulla privacy di ciascuno dei siti in oggetto.</li>
</ul>

<h5>Quali cookie utilizziamo e a quale scopo</h5>
Navigando sul nostro sito, implicitamente acconsenti all'utilizzo dei cookie suddetti. Per impostazioni predefinite i browser generalmente accettano l'utilizzo dei cookie sia provenienti dal nostro sito che dai siti terzi. È comunque possibile modificare tali impostazioni e scegliere tra l'accettazione incondizionata, la visualizzazione di una finestra pop-up che richiede un'azione esplicita da parte dell'utente o il rifiuto dei cookie indistintamente.

Per gestire l'uso dei cookie è necessario modificare le impostazioni del browser tramite la relativa barra degli strumenti.

Di seguito riportiamo i link alle risorse che descrivono le modalità di gestione dei cookie per i browser più popolari:

<ul>
<li>Mozilla Firefox: eliminare i cookie e bloccare i cookie dei siti.</li>
<li>Google Chrome: gestione dei cookie.</li>
<li>Opera: gestione dei cookie.</li>
<li>Safari: gestione dei cookie.</li>
</ul>
È possibile disabilitare i cookie di Google Analytics visitando la pagina web di Google (Google GaOptOut) e scaricando il componente aggiuntivo per il browser utilizzato.

Ricorda che devi settare le preferenze sui cookie per ogni dispositivo ed ogni browser utilizzato nella navigazione su internet.

Per consentire al sito Web di funzionare correttamente, sfruttarne le funzionalità e l'uso nella sua completezza, consigliamo di accettare l'uso dei cookie sia nostri che di terze parti.
</div>