<div class="hero-section">
  <img src="assets/images/title.webp" alt="EverGreenCup Title" class="hero-title">
</div>

<section class="countdown-video">
  <div class="countdown-stats">
    <div class="countdown-box">
      <div class="tempo">EverGreenCup inizia tra</div>
      <div class="countdown">
        <div class="countdown-item">
          <h5>Giorni</h5>
          <span class="countdown-block">{{ remainingTime.split(':')[0] }}</span>
        </div>
        <div class="countdown-item">
          <h5>Ore</h5>
          <span class="countdown-block">{{ remainingTime.split(':')[1] }}</span>
        </div>
        <div class="countdown-item">
          <h5>Minuti</h5>
          <span class="countdown-block">{{ remainingTime.split(':')[2] }}</span>
        </div>
        <div class="countdown-item">
          <h5>Secondi</h5>
          <span class="countdown-block">{{ remainingTime.split(':')[3] }}</span>
        </div>
      </div>
    </div>

    <div class="stats-box">
      <div class="stat">
        <span class="stat-number" id="teamsCount">0</span>
        <p>Squadre</p>
      </div>
      <div class="stat">
        <span class="stat-number" id="athletesCount">0</span>
        <p>Atleti</p>
      </div>
      <div class="stat">
        <span class="stat-number" id="matchesCount">0</span>
        <p>Partite giocate</p>
      </div>
    </div>
  </div>

  <div class="video-promo">
    <div class="phone-frame">
      <video controls poster="assets/images/preview.png">
        <source src="assets/video/promo.mp4" type="video/mp4">
        Il tuo browser non supporta il tag video.
      </video>
    </div>
  </div>
</section>

<div class="edizione-content">
  <div class="edizione-text">
    <h3>Benvenuti alla seconda edizione della <span class="highlight">EverGreenCup</span>!</h3>
    <p>
      Unisciti a noi per un evento carico di <strong>sport</strong>, <strong>energia</strong> e una sana dose di <strong>competizione</strong>.
      Vivi un'esperienza memorabile in compagnia!
    </p>
    <div class="cta-section inline">
      <div class="cta-inline-wrapper">
        <h2 class="cta-heading">Hai già la tua squadra? <span class="arrow">➜</span></h2>
        <a href="/moduli" class="cta-button large">Iscriviti</a>
      </div>
    </div>
    
    
  </div>

  <div class="edizione-image">
    <img src="assets/images/fase_gioco.jpg" alt="Azione di gioco EverGreenCup">
  </div>
</div>



<section class="location-info">
  <div class="location-card">
    <h3>📍 Location</h3>
    <iframe title="Mappa della Location" src="https://www.google.com/maps/embed?..." width="100%" height="200" style="border:0;" allowfullscreen loading="lazy"></iframe>
    <address>Impianto Sportivo di Tombolo<br>Via Sant'Andrea 6, Tombolo (PD), 35019</address>
  </div>
  <div class="location-image">
    <img src="assets/images/luogo.webp" alt="Foto Location">
  </div>
</section>


